@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Raleway:ital,wght@0,100;0,400;1,100;1,200;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: silver;
}

h1 {
  font-family: "Raleway Dots", cursive;
}
